@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --color-primary-1: hsl(180, 29%, 50%);

    --color-neutral-1: hsl(180, 52%, 96%);
    --color-neutral-2: hsl(180, 31%, 95%);
    --color-neutral-3: hsl(180, 8%, 52%);
    --color-neutral-4: hsl(180, 14%, 20%);

    --app-border-radius: 0.35em;
    --app-padding: 1rem;
    --app-shadow: 0 0.75rem 2rem -1.5rem var(--color-primary-1);
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.header {
    background-color: var(--color-primary-1);

    img {
        display: flex;
        width: 100%;
    }
}

.main {
    background-color: var(--color-neutral-1);
    padding-inline: 2rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.filters-container {
    display: flex;
    background-color: white;
    box-shadow: var(--app-shadow);
    padding: var(--app-padding) calc(var(--app-padding) * 2.5);
    border-radius: var(--app-border-radius);
    transform: translateY(-50%);

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .filter-container {
        display: flex;
        background-color: var(--color-neutral-1);
        color: var(--color-primary-1);
        font-weight: 700;
        border-radius: var(--app-border-radius);
        overflow: hidden;

        .filter-text {
            padding: 0.35em;
        }

        .remove-filter-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-primary-1);
            width: 1.5rem;
            transition: background-color 250ms;

            &:hover {
                background-color: var(--color-neutral-4);
            }
        }
    }

    .clear-filters-button {
        background-color: transparent;
        font-size: 1rem;
        color: var(--color-primary-1);
        margin-left: auto;

        &:hover {
            text-decoration: underline;
        }
    }
}

.listings-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .listing {
        --dot-size: 0.3rem;

        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: var(--app-shadow);
        padding: var(--app-padding) calc(var(--app-padding) * 2.5);
        border-radius: var(--app-border-radius);

        &.listing-featured {
            border-left: 5px solid var(--color-primary-1);
        }

        .badge {
            background-color: green;
            padding: 0.35em 0.5em;
            border-radius: 1000px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--color-neutral-1);

            &.new-badge {
                background-color: var(--color-primary-1);
            }

            &.featured-badge {
                background-color: var(--color-neutral-4);
            }
        }

        .company-logo {
            margin-right: 1.5rem;
        }

        .listing-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-right: auto;

            .company-name {
                font-size: 1.35rem;
                color: var(--color-primary-1);
                font-weight: 700;
            }

            .details-section {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .details-section:last-child {
                position: relative;
                color: var(--color-neutral-3);

                span:not(:last-child)::after {
                    content: "";
                    position: absolute;
                    width: var(--dot-size);
                    height: var(--dot-size);
                    top: 50%;
                    border-radius: 100%;
                    transform: translate(100%, -50%);
                    background-color: currentColor;
                }
            }

            .position-text a {
                color: initial;
                cursor: pointer;
                text-decoration: none;
                transition: color 250ms;
    
                &:hover {
                    color: var(--color-primary-1);
                }
            }
        }

        .listing-tags {
            display: flex;
            gap: 1rem;
            
            .tag {
                background-color: var(--color-neutral-2);
                color: var(--color-primary-1);
                font-size: 1rem;
                font-weight: 700;
                padding: 0.5em;
                border-radius: 0.35em;
                transition: 
                    background-color 250ms,
                    color 250ms;

                &:hover {
                    background-color: var(--color-primary-1);
                    color: var(--color-neutral-1);
                }
            }
        }
    }
}

.attribution { 
    font-size: 1.25rem; 
    text-align: center; 
    padding: 2rem 0;

    a {
        color: var(--color-primary-1);
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 900px) {
    .listings-container {
        gap: 5rem;
    }

    .listing {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: initial !important;

        .company-logo {
            position: absolute;
            top: calc(-50% + 4.5rem);
        }

        .listing-details {
            margin-top: 3rem;
        }

        .listing-tags {
            position: relative;
            margin-top: 2rem;

            &::before {
                content: "";
                position: absolute;
                background-color: var(--color-neutral-3);
                width: 100%;
                height: 2px;
                top: -50%;
                border-radius: 1000px;
            }
        }
    }
}

@media (max-width: 550px) {
    .company-name,
    .position-text {
        font-size: 1rem !important;
    }
}