@use "../components/Filters/" as *;
@use "../components/Listings/" as *;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --color-primary-1: hsl(180, 29%, 50%);

    --color-neutral-1: hsl(180, 52%, 96%);
    --color-neutral-2: hsl(180, 31%, 95%);
    --color-neutral-3: hsl(180, 8%, 52%);
    --color-neutral-4: hsl(180, 14%, 20%);

    --app-border-radius: 0.35em;
    --app-padding: 1rem;
    --app-shadow: 0 0.75rem 2rem -1.5rem var(--color-primary-1);
}

body {
    background-color: var(--color-neutral-1);
    overflow-x: hidden;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.header {
    background-color: var(--color-primary-1);

    img {
        display: flex;
        width: 100%;
    }
}

.main {
    padding-inline: 2rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.attribution { 
    font-size: 1.25rem; 
    text-align: center; 
    padding: 2rem 0;

    a {
        color: var(--color-primary-1);
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 550px) {
    .attribution {
        font-size: 1rem;
    }
}